<section class="mdl-grid mdl-grid--no-spacing">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <i class="material-icons" *ngIf="!isEtlJobRunning" (click)="startEtlRunner()">play_circle_filled</i>
      <mat-spinner *ngIf="isEtlJobRunning"></mat-spinner>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>ETL Runner</h4>
        If you want to start new ETL Job pleas click start. Note: It will trunckate all tables. 
      </div>
      <div class="mdl-card__actions button-row">
          <button mat-raised-button color="primary" (click)="startEtlRunner()" *ngIf="!isEtlJobRunning">Start ETL Job</button>
          <button mat-raised-button color="warn" (click)="stopEtlRunner()" *ngIf="isEtlJobRunning">Stop ETL Job</button>
          <span class="mat-paginator-page-size" style="margin-top: 10px; vertical-align: middle; margin-left: -5px; float: right;"  *ngIf="isEtlJobRunning">
              <span class="mat-paginator-page-size-label">Items Proceeded By ETL:</span>
              <span class="ng-star-inserted">{{telProceedeLines}}</span>
          </span> 
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
      <li class="mdl-menu__item">Hide</li>
    </ul>
</section>