<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--2-col" style="display: block; float: left; width: 50%;">Search Details</h4>
        <div class="mdl-cell mdl-cell--2-col" style="display: block; float: left; width: 50%;">
            <button mat-raised-button color="primary" (click)="getThaiRestaurants()" style="float: right;">Get</button>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Restaurant Type" value="Thai" [(ngModel)]="searchRestaurantType" name="searchRestaurantType" id="searchRestaurantType">
          </mat-form-field>
        </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="DBA">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.DBA}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="GRADE">
                <th mat-header-cell *matHeaderCellDef> GRADE </th>
                <td mat-cell *matCellDef="let element"> {{element.GRADE}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="SCORE">
                <th mat-header-cell *matHeaderCellDef> SCORE </th>
                <td mat-cell *matCellDef="let element"> {{element.SCORE}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="BORO">
                <th mat-header-cell *matHeaderCellDef> BORO </th>
                <td mat-cell *matCellDef="let element"> {{element.BORO}} </td>
              </ng-container>

              <ng-container matColumnDef="BUILDING">
                <th mat-header-cell *matHeaderCellDef> BUILDING </th>
                <td mat-cell *matCellDef="let element"> {{element.BUILDING}} </td>
              </ng-container>

              <ng-container matColumnDef="STREET">
                <th mat-header-cell *matHeaderCellDef> STREET </th>
                <td mat-cell *matCellDef="let element"> {{element.STREET}} </td>
              </ng-container>

              <ng-container matColumnDef="ZIPCODE">
                <th mat-header-cell *matHeaderCellDef> ZIPCODE </th>
                <td mat-cell *matCellDef="let element"> {{element.ZIPCODE}} </td>
              </ng-container>

              <ng-container matColumnDef="PHONE">
                <th mat-header-cell *matHeaderCellDef> PHONE </th>
                <td mat-cell *matCellDef="let element"> {{element.PHONE}} </td>
              </ng-container>

              <ng-container matColumnDef="GRADE_DATE">
                <th mat-header-cell *matHeaderCellDef> GRADE_DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.GRADE_DATE}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="500000"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25]"
              (page)="pullNewDataBatch($event)">
            </mat-paginator>
          </div>
        </div>
      </section>
