<!--The content below is only a placeholder and can be replaced.-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"> 
          <mat-icon style="vertical-align: middle; margin: 0 44px 17px 0; font-size: 44px;">assistant</mat-icon><h3>NYC DOH Restaturants Processor</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
        <a href="#features" class="mdl-layout__tab">Technology</a>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <app-etl-control></app-etl-control>
        </section>

        <!-- Search Details -->
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <app-table-search></app-table-search>
        </section>
      </div>
      <div class="mdl-layout__tab-panel" id="features">
        <section class="section--center mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col">
            <h4>Technology</h4>
            This WebSite was build by using folowing technologies:
            <ul class="toc">
              <li>Node.js, Express - as back-end service and ETL Job runner</li>
              <li>Angular 6 - as Front-end</li>
              <li>AWS RDS MySQL - as Data store</li>
              <li>AWS CodeBuild - as CI tool for Continues Delivery [file: buildspec.yml]</li>
              <li>AWS BeanStalk - as Application host service [file: template.yml]</li>
            </ul>

            <h5 id="lorem1">Application architecture</h5>

            <p>
                The point of this task is to examinate skills of wed development, that solution was selected since it requires build ETL job from scratch. This architecture contans EC2 instance that host NodeJs app and RDS MySQL data store for procedded data. 
            </p>
            <img style="width: 100%" src="https://s3.amazonaws.com/aws-codestar-us-east-1-363614408566-nyc-doh-restaur-pipe/architecture/AWS_ETL_Solution.png" />

            <h5 id="lorem3">DataBase Architecture</h5>

            <p>For data store there were selected AWS RDS service with MySQL server. [db.t2.micro] The Database schema is following:</p>

            <img style="width: 100%" src="https://s3.amazonaws.com/aws-codestar-us-east-1-363614408566-nyc-doh-restaur-pipe/architecture/DB_schema.png" />

            <h5 id="lorem3">CI Pipeline, App Monitoring</h5>

            <p id="lorem4">
              This application is hosted by AWS Elastic BeanStalk and uses AWS CodeBuild for run all Unit Tests and AWS CodeDeploy for deploy archistration. 
            </p>

            <img style="width: 100%" src="https://s3.amazonaws.com/aws-codestar-us-east-1-363614408566-nyc-doh-restaur-pipe/architecture/CodeDeployScreen.png" />

            <h5 id="lorem3">More Info</h5>
            <p>More Details you can find on  <a href="https://github.com/hawkerfun/nyc-doh-restaurants" target="_blank">GitHub project</a> page.</p>

          </div>
        </section>
      </div>
      <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer--middle-section">
          <h2>&nbsp;</h2>
        </div>
      </footer>
    </main>
  </div>
  <a href="https://github.com/hawkerfun/nyc-doh-restaurants" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>

